USE [VENDAS]
GO
/****** Object:  Table [dbo].[CATEGORIA]    Script Date: 08/06/2018 20:21:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIA](
	[id_categoria] [int] IDENTITY(1,1) NOT NULL,
	[desc_categoria] [nvarchar](50) NULL,
 CONSTRAINT [PK_tb_categoria] PRIMARY KEY CLUSTERED 
(
	[id_categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CIDADE]    Script Date: 08/06/2018 20:21:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CIDADE](
	[id_cidade] [int] NOT NULL,
	[nome] [varchar](120) NULL,
	[estado] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cidade] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 08/06/2018 20:21:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](80) NOT NULL,
	[dt_nascimento] [datetime] NOT NULL,
	[endereco] [varchar](80) NOT NULL,
	[complemento] [varchar](80) NULL,
	[bairro] [varchar](60) NOT NULL,
	[id_cidade] [int] NOT NULL,
	[cep] [varchar](15) NULL,
	[cpf] [varchar](15) NOT NULL,
	[rg] [varchar](14) NULL,
	[telefone_res] [varchar](50) NULL,
	[telefone_cel] [varchar](50) NOT NULL,
	[email] [varchar](80) NULL,
	[id_sexo] [int] NOT NULL,
	[id_uf] [int] NOT NULL,
 CONSTRAINT [PK_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONTAS_RECEBER]    Script Date: 08/06/2018 20:21:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTAS_RECEBER](
	[id_conta] [int] IDENTITY(1,1) NOT NULL,
	[data_compra] [datetime] NULL,
	[data_vencimento] [datetime] NULL,
	[data_pagamento] [datetime] NULL,
	[id_status] [int] NULL,
	[id_venda] [int] NULL,
 CONSTRAINT [PK_tb_contas_receber] PRIMARY KEY CLUSTERED 
(
	[id_conta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADO]    Script Date: 08/06/2018 20:21:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADO](
	[id_uf] [int] NOT NULL,
	[nome] [varchar](75) NULL,
	[uf] [varchar](5) NULL,
	[pais] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_uf] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FUNCIONARIO]    Script Date: 08/06/2018 20:21:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FUNCIONARIO](
	[id_funcionario] [int] IDENTITY(1,1) NOT NULL,
	[nome] [nchar](10) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[salario] [money] NOT NULL,
	[senha] [varchar](20) NOT NULL,
	[bairro] [varchar](50) NOT NULL,
	[cep] [varchar](10) NULL,
	[id_cidade] [int] NOT NULL,
	[complemento] [varchar](50) NULL,
	[cpf] [varchar](15) NOT NULL,
	[dt_nascimento] [datetime] NOT NULL,
	[email] [varchar](50) NULL,
	[endereco] [varchar](50) NOT NULL,
	[id_sexo] [int] NULL,
	[rg] [varchar](13) NULL,
	[telefone_res] [varchar](20) NULL,
	[telefone_cel] [varchar](20) NOT NULL,
	[id_venda] [int] NOT NULL,
	[id_uf] [int] NOT NULL,
 CONSTRAINT [PK_FUNCIONARIO] PRIMARY KEY CLUSTERED 
(
	[id_funcionario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ITENS_VENDA]    Script Date: 08/06/2018 20:21:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ITENS_VENDA](
	[quantidade] [int] NOT NULL,
	[id_produto] [int] NOT NULL,
	[id_venda] [int] NOT NULL,
	[valor] [decimal](15, 2) NOT NULL,
	[id_item] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUTO]    Script Date: 08/06/2018 20:21:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUTO](
	[id_produto] [int] IDENTITY(1,1) NOT NULL,
	[desc_produto] [nvarchar](50) NULL,
	[valor] [decimal](25, 2) NULL,
	[id_categoria] [int] NULL,
 CONSTRAINT [PK_tb_produto] PRIMARY KEY CLUSTERED 
(
	[id_produto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEXO]    Script Date: 08/06/2018 20:21:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEXO](
	[id_sexo] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](20) NOT NULL,
 CONSTRAINT [PK_SEXO] PRIMARY KEY CLUSTERED 
(
	[id_sexo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STATUS]    Script Date: 08/06/2018 20:21:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATUS](
	[id_status] [int] IDENTITY(1,1) NOT NULL,
	[status] [nvarchar](50) NULL,
 CONSTRAINT [PK_tb_status] PRIMARY KEY CLUSTERED 
(
	[id_status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 08/06/2018 20:21:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[usuario] [varchar](50) NOT NULL,
	[senha] [varchar](50) NOT NULL,
	[id_usuario] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VENDA]    Script Date: 08/06/2018 20:21:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENDA](
	[id_venda] [int] IDENTITY(1,1) NOT NULL,
	[valor] [decimal](15, 2) NULL,
	[desconto] [decimal](15, 2) NULL,
	[valor_pago] [decimal](15, 2) NULL,
	[id_cliente] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_venda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CATEGORIA] ON 

INSERT [dbo].[CATEGORIA] ([id_categoria], [desc_categoria]) VALUES (4, N'Cursos')
INSERT [dbo].[CATEGORIA] ([id_categoria], [desc_categoria]) VALUES (5, N'Apostilas')
INSERT [dbo].[CATEGORIA] ([id_categoria], [desc_categoria]) VALUES (6, N'Livros')
SET IDENTITY_INSERT [dbo].[CATEGORIA] OFF
INSERT [dbo].[CIDADE] ([id_cidade], [nome], [estado]) VALUES (1, N'Afonso Cláudio', 8)
INSERT [dbo].[CIDADE] ([id_cidade], [nome], [estado]) VALUES (2, N'Água Doce do Norte', 8)
INSERT [dbo].[CIDADE] ([id_cidade], [nome], [estado]) VALUES (3, N'Águia Branca', 8)
GO
SET IDENTITY_INSERT [dbo].[CONTAS_RECEBER] ON 

INSERT [dbo].[CONTAS_RECEBER] ([id_conta], [data_compra], [data_vencimento], [data_pagamento], [id_status], [id_venda]) VALUES (1, CAST(N'2016-03-22T10:26:37.037' AS DateTime), CAST(N'2016-03-22T10:26:57.733' AS DateTime), CAST(N'2016-03-22T10:49:58.773' AS DateTime), 1, 16)
INSERT [dbo].[CONTAS_RECEBER] ([id_conta], [data_compra], [data_vencimento], [data_pagamento], [id_status], [id_venda]) VALUES (2, CAST(N'2016-03-22T10:48:00.800' AS DateTime), CAST(N'2016-03-26T10:48:03.000' AS DateTime), NULL, 2, 17)
INSERT [dbo].[CONTAS_RECEBER] ([id_conta], [data_compra], [data_vencimento], [data_pagamento], [id_status], [id_venda]) VALUES (3, CAST(N'2016-03-22T10:50:06.973' AS DateTime), CAST(N'2016-06-11T10:50:10.000' AS DateTime), NULL, 2, 18)
SET IDENTITY_INSERT [dbo].[CONTAS_RECEBER] OFF
INSERT [dbo].[ESTADO] ([id_uf], [nome], [uf], [pais]) VALUES (1, N'Acre', N'AC', 1)
INSERT [dbo].[ESTADO] ([id_uf], [nome], [uf], [pais]) VALUES (2, N'Alagoas', N'AL', 1)
INSERT [dbo].[ESTADO] ([id_uf], [nome], [uf], [pais]) VALUES (3, N'Amazonas', N'AM', 1)
SET IDENTITY_INSERT [dbo].[ITENS_VENDA] ON 

INSERT [dbo].[ITENS_VENDA] ([quantidade], [id_produto], [id_venda], [valor], [id_item]) VALUES (1, 3, 3, CAST(0.00 AS Decimal(15, 2)), 1)
INSERT [dbo].[ITENS_VENDA] ([quantidade], [id_produto], [id_venda], [valor], [id_item]) VALUES (2, 2, 4, CAST(0.00 AS Decimal(15, 2)), 2)
INSERT [dbo].[ITENS_VENDA] ([quantidade], [id_produto], [id_venda], [valor], [id_item]) VALUES (1, 3, 5, CAST(35.00 AS Decimal(15, 2)), 3)
SET IDENTITY_INSERT [dbo].[ITENS_VENDA] OFF
SET IDENTITY_INSERT [dbo].[PRODUTO] ON 

INSERT [dbo].[PRODUTO] ([id_produto], [desc_produto], [valor], [id_categoria]) VALUES (1, N'Curso de C#', CAST(35.00 AS Decimal(25, 2)), 4)
INSERT [dbo].[PRODUTO] ([id_produto], [desc_produto], [valor], [id_categoria]) VALUES (2, N'Curso de Java', CAST(35.00 AS Decimal(25, 2)), 4)
INSERT [dbo].[PRODUTO] ([id_produto], [desc_produto], [valor], [id_categoria]) VALUES (3, N'Curso de VBA', CAST(35.00 AS Decimal(25, 2)), 4)
SET IDENTITY_INSERT [dbo].[PRODUTO] OFF
SET IDENTITY_INSERT [dbo].[STATUS] ON 

INSERT [dbo].[STATUS] ([id_status], [status]) VALUES (1, N'a vista')
INSERT [dbo].[STATUS] ([id_status], [status]) VALUES (2, N'a prazo')
SET IDENTITY_INSERT [dbo].[STATUS] OFF
INSERT [dbo].[USUARIO] ([usuario], [senha], [id_usuario]) VALUES (N'hugo', N'123', 4)
INSERT [dbo].[USUARIO] ([usuario], [senha], [id_usuario]) VALUES (N'paula', N'123', 5)
SET IDENTITY_INSERT [dbo].[VENDA] ON 

INSERT [dbo].[VENDA] ([id_venda], [valor], [desconto], [valor_pago], [id_cliente]) VALUES (1, NULL, NULL, NULL, NULL)
INSERT [dbo].[VENDA] ([id_venda], [valor], [desconto], [valor_pago], [id_cliente]) VALUES (2, NULL, NULL, NULL, 3)
INSERT [dbo].[VENDA] ([id_venda], [valor], [desconto], [valor_pago], [id_cliente]) VALUES (3, NULL, NULL, NULL, 2)
SET IDENTITY_INSERT [dbo].[VENDA] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tb_usuario__07F6335A]    Script Date: 08/06/2018 20:21:50 ******/
ALTER TABLE [dbo].[USUARIO] ADD UNIQUE NONCLUSTERED 
(
	[usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CIDADE] ADD  DEFAULT (NULL) FOR [nome]
GO
ALTER TABLE [dbo].[CIDADE] ADD  DEFAULT (NULL) FOR [estado]
GO
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTE_CIDADE] FOREIGN KEY([id_cidade])
REFERENCES [dbo].[CIDADE] ([id_cidade])
GO
ALTER TABLE [dbo].[CLIENTE] CHECK CONSTRAINT [FK_CLIENTE_CIDADE]
GO
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTE_ESTADO] FOREIGN KEY([id_uf])
REFERENCES [dbo].[ESTADO] ([id_uf])
GO
ALTER TABLE [dbo].[CLIENTE] CHECK CONSTRAINT [FK_CLIENTE_ESTADO]
GO
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTE_SEXO] FOREIGN KEY([id_sexo])
REFERENCES [dbo].[SEXO] ([id_sexo])
GO
ALTER TABLE [dbo].[CLIENTE] CHECK CONSTRAINT [FK_CLIENTE_SEXO]
GO
ALTER TABLE [dbo].[CONTAS_RECEBER]  WITH CHECK ADD  CONSTRAINT [FK_tb_contas_receber_tb_status] FOREIGN KEY([id_status])
REFERENCES [dbo].[STATUS] ([id_status])
GO
ALTER TABLE [dbo].[CONTAS_RECEBER] CHECK CONSTRAINT [FK_tb_contas_receber_tb_status]
GO
ALTER TABLE [dbo].[CONTAS_RECEBER]  WITH CHECK ADD  CONSTRAINT [FK_tb_contas_receber_tb_venda] FOREIGN KEY([id_venda])
REFERENCES [dbo].[VENDA] ([id_venda])
GO
ALTER TABLE [dbo].[CONTAS_RECEBER] CHECK CONSTRAINT [FK_tb_contas_receber_tb_venda]
GO
ALTER TABLE [dbo].[FUNCIONARIO]  WITH CHECK ADD  CONSTRAINT [FK_FUNCIONARIO_CIDADE] FOREIGN KEY([id_cidade])
REFERENCES [dbo].[CIDADE] ([id_cidade])
GO
ALTER TABLE [dbo].[FUNCIONARIO] CHECK CONSTRAINT [FK_FUNCIONARIO_CIDADE]
GO
ALTER TABLE [dbo].[FUNCIONARIO]  WITH CHECK ADD  CONSTRAINT [FK_FUNCIONARIO_ESTADO] FOREIGN KEY([id_uf])
REFERENCES [dbo].[ESTADO] ([id_uf])
GO
ALTER TABLE [dbo].[FUNCIONARIO] CHECK CONSTRAINT [FK_FUNCIONARIO_ESTADO]
GO
ALTER TABLE [dbo].[FUNCIONARIO]  WITH CHECK ADD  CONSTRAINT [FK_FUNCIONARIO_SEXO] FOREIGN KEY([id_sexo])
REFERENCES [dbo].[SEXO] ([id_sexo])
GO
ALTER TABLE [dbo].[FUNCIONARIO] CHECK CONSTRAINT [FK_FUNCIONARIO_SEXO]
GO
ALTER TABLE [dbo].[FUNCIONARIO]  WITH CHECK ADD  CONSTRAINT [FK_FUNCIONARIO_USUARIO] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[USUARIO] ([id_usuario])
GO
ALTER TABLE [dbo].[FUNCIONARIO] CHECK CONSTRAINT [FK_FUNCIONARIO_USUARIO]
GO
ALTER TABLE [dbo].[FUNCIONARIO]  WITH CHECK ADD  CONSTRAINT [FK_FUNCIONARIO_VENDA] FOREIGN KEY([id_venda])
REFERENCES [dbo].[VENDA] ([id_venda])
GO
ALTER TABLE [dbo].[FUNCIONARIO] CHECK CONSTRAINT [FK_FUNCIONARIO_VENDA]
GO
ALTER TABLE [dbo].[ITENS_VENDA]  WITH CHECK ADD  CONSTRAINT [FK_tb_itens_venda_tb_produto] FOREIGN KEY([id_produto])
REFERENCES [dbo].[PRODUTO] ([id_produto])
GO
ALTER TABLE [dbo].[ITENS_VENDA] CHECK CONSTRAINT [FK_tb_itens_venda_tb_produto]
GO
ALTER TABLE [dbo].[ITENS_VENDA]  WITH CHECK ADD  CONSTRAINT [FK_tb_itens_venda_tb_venda] FOREIGN KEY([id_venda])
REFERENCES [dbo].[VENDA] ([id_venda])
GO
ALTER TABLE [dbo].[ITENS_VENDA] CHECK CONSTRAINT [FK_tb_itens_venda_tb_venda]
GO
ALTER TABLE [dbo].[PRODUTO]  WITH CHECK ADD  CONSTRAINT [FK_tb_produto_tb_categoria] FOREIGN KEY([id_categoria])
REFERENCES [dbo].[CATEGORIA] ([id_categoria])
GO
ALTER TABLE [dbo].[PRODUTO] CHECK CONSTRAINT [FK_tb_produto_tb_categoria]
GO
ALTER TABLE [dbo].[VENDA]  WITH NOCHECK ADD  CONSTRAINT [FK_VENDA_CLIENTE] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[CLIENTE] ([id_cliente])
GO
ALTER TABLE [dbo].[VENDA] CHECK CONSTRAINT [FK_VENDA_CLIENTE]
GO
